/* ===================================== 
   Grid Layout
======================================== */

.grid {
   max-width: 800px;
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   column-gap: 10px;
   row-gap: 10px;
}



